#header {
	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-flow: row wrap;
 	flex-flow: row wrap;
	background-color: #D79763;
	width: 100%;
	font-size: 100%;
}

#title, #maxim, #contact {
	width: 100%;
	margin : 0;
	padding: 0;
}

#title > h4 {
	margin:0;
	padding:0;
}
 
#title {
	font-size: 4em;
	font-style: oblique;
	color : #444444;
	display: inline-block;
	font-family: Caflisch Script Pro, cursive;
}

#maxim {
	font-size: 1em;
	padding : 1%;
	text-align:left;
	font-style: oblique;
}

ul{
	list-style-type: none;
	padding: 0%;
}

#contact >li {
	margin:0%;
	padding: 0%;
}

@media (min-width: 600px) {
  #title {
	font-size: 3em;
    width: 35%;
    -webkit-order: 1;
    order: 1;
  }

  #maxim{
    width: 65%;
    -webkit-order: 2;
    order: 2;
  }

  #contact{
	padding: 1%;
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
  
  menu > a, #logo, .flag {
	width: 25%;
  }	
}

@media (min-width: 800px) {
  #maxim {
    width: 40%;
  }

  #contact {
    width: 20%;
  }
  menu > a, #logo, .flag {
	width: 50%;
	text-decoration : none;
  }	
}

#contact {
	display: inline-block;
	color : #444444;
	font-size: 1em;
}

#content {
	font-size: 32px;
	height: 1000px;
	width: 100%;
	display: inline-block;
	background-size: cover;
	background-image: url("../assets/wall.jpeg");
}

#content > div {
	height: 40%;
	width: 85%;
	background-color: #EFEFE4;
	margin : 5%;
}

#footer {
	background-color: #FBCD8D;
	height: 40%;
	width: 100%;
}
#menu {
	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-flow: row wrap;
 	flex-flow: row wrap;
	width: 100%;
	background-color: #444444;
}

.menu_item{
	text-decoration: none;
	margin-left :  1%;
	margin-right : 1%;
	padding: 1%;
	height : 4%;
	
	
}

.menu_item :hover {
	color : #D79763;

}
#logo {
	width: 5em;
	height: 3em;  
}	
.flag {
	width: 4em;
	height: 4em;
	padding: 1%;
}
