<div id="header">
	<h2 class="title">HayArt Decor</h2>
		<span>Խորիմաստ մտքեր Էլ դու սուս․․․․․․</span>
	<ul class="contact" >
		<li>(+374)77 40 18 14</li> <!-- TODO *ngFor from any servive-->
		<li>(+374)99 40 18 14</li> <!-- TODO *ngFor from any servive-->
		<li>(+374)55 40 18 14</li>
	</ul> <!-- TODO *ngFor from any servive-->
</div>
<nav class="menu">
	<a routerLink="/home" routerLinkActive="active">Գլխավոր</a>
	<a routerLink="/products" routerLinkActive="active">Տեսականի</a>
	<a routerLink="/gallery" routerLinkActive="active">Ֆոտոդարան</a>
	<a routerLink="/feedback" routerLinkActive="active">Հետադարձ կապ</a>
	<a routerLink="/aboutUs" routerLinkActive="active">Մեր մասին</a>
	<a class="flag" routerLink="/" routerLinkActive="active">
	   <img alt="armenian flag" width="20" height="20" src="../assets/arm_flag.png"/>
	</a>
	<a class="flag" routerLink="/" routerLinkActive="active">
	   <img alt="russian flag" width="20" height="20" src="../assets/rus_flag.png"/>
	</a>
</nav>
<router-outlet></router-outlet>
<div id="footer">
  Footer
  <div class="contact">
	  <span>(+374)77 40 18 14</span> <!-- TODO *ngFor from any servive-->
  </div>
</div>
